.dropdownContainer {
    position: relative;
    width: 100%;
}

.dropdownInput {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23999' d='M10 12l-5-5h10l-5 5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    padding-right: 30px;
}

.dropdownInput:disabled {
    background-color: #f3f3f3;
    /* Light gray background */
    color: #999;
    /* Dimmed text color */
    cursor: not-allowed;
    /* Indicate disabled state */
    border-color: #ddd;
    /* Consistent border color */
}

.dropdownList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid var(--primary-color);
    border-top: none;
    background-color: #fff;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.dropdownListItem {
    padding: 12px 16px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    border-bottom: 1px solid #eee;
}

.dropdownListItemHover {
    background-color: #f0f0f0;
}

.dropdownListEmpty {
    padding: 12px 16px;
    color: #888;
    text-align: center;
    font-size: 1rem;
}

.clearButton {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #999;
    cursor: pointer;
    font-size: 0.9rem;
    text-decoration: underline;
}