/* page.module.css */

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.mainWrapper {
  padding: 2px;
  /* Border thickness */
  border-radius: 14px;
  background: linear-gradient(135deg, #BF03B0, #1D88F0);
}

.mainWrapper .main {
  border-radius: 12px;
  background-color: #EAE9EE;
  padding: 32px;
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  background-color: #EAE9EE;
}

.heading {
  font-size: 24px;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 320px;
}

.input {
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.2s;
}

.input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 4px rgba(0, 112, 243, 0.2);
}

.button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(135deg, #BF03B0, #1D88F0);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--primary-color-hover);
}

/* Separator line style */
.separator {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 24px 0;
}

.registerContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 320px;
}

.registerArtist,
.registerMuseum {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonWrapper {
  display: inline-block;
  padding: 2px;
  /* Border thickness */
  border-radius: 8px;
  background: linear-gradient(135deg, #BF03B0, #1D88F0);
}

.buttonWrapper .registerArtist,
.buttonWrapper .registerMuseum {
  border-radius: 6px;
  width: 100%;
}


.registerArtist {
  background-color: white;
}

.registerArtist:hover {
  background-color: #1D88F0;
}

.registerMuseum {
  background-color: white;
}

.registerMuseum:hover {
  background-color: #BF03B0;
}