:root {
  --background: linear-gradient(180deg, #FFFFFF 0%, #F7F7F7 100%);
  /* Darker gray-beige color */
  --primary-color: #1D88F0;
  --secondary-color: #BF03B0;
  /* Washed-out version of the previous purple */
  --background-container: #e6e6e6;
  --text: black;
  --text-gray: gray;
  /* Very light gray for a clean container background */
}



html,
body {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 16px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 12px;
  /* Increase width for better visibility */
}

body::-webkit-scrollbar-track {
  background: #E0E0E0;
  /* Light gray to contrast with thumb */
  border-radius: 10px;
  /* Rounded edges for a modern look */
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Neutral gray for better visibility */
  border-radius: 10px;
  /* Rounded corners for a smoother look */
  border: 3px solid #E0E0E0;
  /* Matches track background for a clean design */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Darker gray on hover for clear feedback */
}


@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}