/* Footer Container */
.footer {
  margin-top: 50px;
  padding: 20px 10px;
  border-top: 1px solid var(--text-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.footer p {
  color: var(--text);
  /* Set text color to white */
}

/* Navigation Links Container */
.navLinks {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Individual Navigation Links */
.navLinks li {
  margin-left: 20px;
}

/* Navigation Links Styling */
.navLinks a {
  color: var(--text);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: #1D88F0;
  /* Example hover color */
}

/* Media Queries for Responsive Design */

/* Mobile View: 768px and below */
@media screen and (max-width: 768px) {
  .footer {
    display: none;
  }
}